In [1]:
# Pandas
import pandas as pd
import os

# SQL Alchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, or_
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base


# PyMySQL 
import pymysql
#pymysql.install_as_MySQLdb()

In [2]:
#Read in files
csv_path_stations = os.path.join("Resources","clean_hawaii_stations.csv")
csv_path_measurements = os.path.join("Resources","clean_hawaii_measurements.csv")

station_data = pd.read_csv(csv_path_stations)
measurement_data = pd.read_csv(csv_path_measurements)

In [3]:
station_data.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
measurement_data.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-07  0.06    70

In [5]:
Base = declarative_base()

In [6]:
# Define a Measurement class
class Measurement(Base):
    __tablename__ = "measurement"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [7]:
# Define a Station class
class Station(Base):
    __tablename__ = "station"
    
    id = Column(Integer, primary_key=True)
    station_name = Column(String)
    location = Column(String)
    latitude = Column(Float)
    longitude = Column(Float) 
    elevation= Column(Float)

In [8]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)

In [10]:
# Declare a Base using `automap_base()`

#Base = automap_base()

In [11]:
station_data.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [24]:
data=[]
for entry in range(len(station_data)):
    temp = Station(
        station_name=station_data.loc[entry,"station"],
        location=station_data.loc[entry,"name"],
        latitude=station_data.loc[entry,"latitude"],
        longitude=station_data.loc[entry,"longitude"],
        elevation=station_data.loc[entry,"elevation"]
    )
    data.append(temp)
print(data)

[<__main__.Station object at 0x000002243E7965C0>, <__main__.Station object at 0x000002243E7965F8>, <__main__.Station object at 0x000002243E7966D8>, <__main__.Station object at 0x000002243E796748>, <__main__.Station object at 0x000002243E7967B8>, <__main__.Station object at 0x000002243E796828>, <__main__.Station object at 0x000002243E796898>, <__main__.Station object at 0x000002243E796908>, <__main__.Station object at 0x000002243E796978>]

In [25]:
print(data[1])

<__main__.Station object at 0x000002243E7965F8>

In [27]:
for entry in range(len(measurement_data)):
    temp = Measurement(
        station=measurement_data.loc[entry,"station"],
        date=measurement_data.loc[entry,"date"],
        prcp=measurement_data.loc[entry,"prcp"],
        tobs=measurement_data.loc[entry,"tobs"]
    )
    data.append(temp)
print(data[8], data[12],data[1000])

<__main__.Station object at 0x000002243E796978> <__main__.Measurement object at 0x000002243E7DA860> <__main__.Measurement object at 0x000002243E8DA438>

In [28]:
# Add and commit the two new scripts

session.add_all(data)
session.commit()

In [32]:

try1 = session.query(Measurement).filter_by(station="USC00519397")
try2 = session.query(Station).filter_by(station_name="USC00519397")

In [37]:
print(try1[0].station, try1[0].date)
print(try2[0].station_name, try2[0].longitude)

USC00519397 2010-01-01
USC00519397 -157.8168